<link href="/styles/HeaderStyle.css" rel="stylesheet" type="text/css" />

<div class="header">
    <h2 class="userName">Zalogowano jako: <%=userInfo.userName%></h2>
    <h1 class="title"><%=pageName%></h1>
</div>