<div class="loginBox">
    <div class="card" style="width: 40%; margin-left: 30%;">
        <form action="/login/auth" method="POST">
            <div class="form-outline mb-4">
                <label class="form-label">Podaj nazwę użytkownika</label>
                <input type="text" name="username" class="form-control"/>
            </div>
            <div class="form-outline mb-4">
                <label class="form-label">Podaj hasło użytkownika</label>
                <input type="password" name="password" class="form-control"/>
            </div>
            <input type="submit" class="btn btn-primary"/>
        </form>
    </div>
</div>