<div class="loginBox">
    <form action="/login/auth" method="POST">
        <label>Podaj nazwę użytkownika</label>
        <input type="text" name="username" />
        <label>Podaj hasło użytkownika</label>
        <input type="password" name="username" />
        <input type="submit" />
    </form>
</div>