<div class="card" style="margin-left: 35%; width: 30%; margin-top: 3%;">
    <h4>Witamy na stronie</h4><br/>
    <p>Aby otrzymać możliwość zrobienia zakupów proszę się zalogować</p><br/>
    <p>W przypadku braku konta można się zarejestrować</p>
    <div style="display: inline; padding: 2%;">
        <a href="/login" class="btn btn-primary" style="width: 250px; float: left; margin-right: 10px;">Logowanie</a>
        <a href="/registration" class="btn btn-primary" style="width: 250px; float: left;">Rejestracja</a>
    </div>
</div>  
<div class="products" style="margin: 3%; display: flex; flex-direction: row; flex-wrap: wrap;">
    <% products.forEach((product,idx)=>  {%>
        <div class="card" style="width: 400px; margin: 10px;">
            <img src="/images/<%=product.name%>.png" class="card-img-top" width="400px" height="400px">
            <div class="card-body">
                <h5 class="card-title"><%=product.name%></h5>
                <label class="card-text">Cena: <%=product.price%></label>
                <label class="card-text">Dostępna ilość sztuk: <%=product.amount%></label>
            </div>
        </div>
        <%});%>
</div>